body {
    background-color: $whiteColor;
    color: $prymaryTextColor;
}


/* Утиліти */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

// .section {
    
// }

// .container {
   

// }
.title{
    color: $prymaryTextColor;
}
.title span{
color: $aсcentColor;
}
.button {
    color: $whiteColor;
    background-color: $aсcentColor;
}